*{
    font-family: 'Inter', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    padding:20px;
    margin-left: 10px;
    font-weight:bolder;
    font-size: 30px;
    letter-spacing: -1px;
    color: #737272;
}
.hunt{
    color:#18B644 ;
}
ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    font-size: 17px;
    margin-right: 20px;
    
    ;
}
ul{
    margin-right: 150px;
}
ul li a{
    text-decoration: none;
    color: white;
   
   
}

.round-shape{
    height: 800px;
    width: 800px;
    background-color: #18B644;
    border-radius: 50%;
    position: absolute;
    top: -450px;
    left: 719px;
    z-index: -1;
}
.food{
    display: flex;
    width: 20%;
    position: absolute;
    left: 65%;
    top: 25%;
}
.overview{
    height: 40%;
    width: 35%;
    padding: 50px;
    margin-top: 80px;
    margin-left: 10%;
}

.delicious{
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.desc{
    margin-bottom: 20px;
}

.description{
    text-align: justify;
}

.order-now{
    margin-left: 13%;
    text-decoration: none;
    font-size: 20px;
    background-color: #18B644;
    padding: 12px;
    color: white;
    border-radius: 10px;
    transition: 0.6s ease;
    width: 10%;
    text-align: center;
}
.order-now a{
    text-decoration: none;
    color: white;
}
.order-now:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}

.about-me{
    display: flex;
    height: 600px;
    width: 100%;
    background-color: 
    rgba(92, 172, 14, 0.04);
    margin-top: 10%;
}

.arrange{
    height:90% ;
    margin-left: 5%;
    
}

.about-description{
    width: 40%;
    margin-left: 10%;
    margin-top: 5%;
}
.round-circle{
    height: 200px;
    width: 150px;
    background-color: #18B644;
    position: absolute;
    border-bottom-left-radius: 80%;
    border-top-left-radius: 80%;
    left: 90%;
    top: 1100px;
    opacity: 0.5;
    
}

.dot{
    position: absolute;
    height: 25%;
    width: 18%;
    left: 82%;
}
.contact-me{
    position: absolute;
    font-size: 20px;
    background-color: #18B644;
    padding: 12px;
    color: white;
    border-radius: 10px;
    transition: 0.6s ease;
    width: 10%;
    text-align: center;
    top: 1160px;
    left: 680px;
}

.contact-me a{
    text-decoration: none;
    color: white;
}